#myCanvas{
    width: 800;
    height: 600;
}
h1{
    color: darkcyan;
}
body{
    background-image: url("https://i.ytimg.com/an_webp/Q_wzwJ6bHuk/mqdefault_6s.webp?du=3000&sqp=CMmmrYsG&rs=AOn4CLC8T0j04cKhs1CKE7aPX2x2QiJ99Q") 
}